<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a href="#" class="navbar-brand" id="brand">后台管理</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;后台首页</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;课程管理</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;老师管理</a>
      </li>
      <li>
        <a href="student_list.html"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;学生管理</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;成绩管理</a>
      </li>
    </ul>
    <div class="collapse navbar-collapse" id="collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            admin
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#"><span class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;&nbsp;前台首页</a>
            </li>
            <li>
              <a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;个人主页</a>
            </li>
            <li>
              <a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;&nbsp;个人设置</a>
            </li>
            <li>
              <a href="#"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;&nbsp;账户中心</a>
            </li>
            <li>
              <a href="#"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;&nbsp;我的收藏</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;&nbsp;退出</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
